<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}">Main Page</a>
    <h2>Add Employee</h2>
    <form action="" method="post">
        {% csrf_token %}
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" id="firstname">
        <br>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname">
        <br>
        <label for="post">Post</label>
        <input type="text" name="post" id="post">
        <br>
        <label for="company">Company</label>
        <select id="company" name="company">
            {% for item in comps%}
            <option name={{item.name}} id={{item.name}}>{{item.name}}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit" value="submit">Submit</button>
    </form>
</body>
</html>